*{
    margin: 0;
    padding: 0;
    margin: center;
    flex-direction: column;
   
    color:white;
   
}
body{
    display:center;
   justify-content: center;
   flex-direction: column;
    
}
body.container{
    
   margin:35%;
  margin-top:15%;
}

.container{
    
    width: 350px;
    min-height: 30vh;
    background-color:  #0f1111;
     
    margin:200px;
    align-items: center;
    font-size: 25px;
    box-sizing: content-box;
    border: 3px solid blue;
    
    border-radius: 10px;
    justify-content:center;
    justify-items: center;    
    
   
    
}
.title{
    align-items:center;
    
    text-align: center;
}
.iniciar{
    width: 70px;
    height: 21px;
    align-items:center;
    justify-content: center;
    border-radius: 6px;
    background-color: rgb(15, 167, 15);
   margin-top:55px;
    cursor: pointer;
    text-transform: uppercase; 
    color:black;  
}
.parar{
    width: 70px;
    height: 21px;
    align-items:center;
    border-radius: 6px;
    background-color: yellow;
    text-transform: uppercase;
    cursor: pointer;
    color:black;  
   
}
.zerar{
    width: 70px;
    height: 21px;
    align-items:center;
    border-radius: 6px;
    background-color: red;
    text-transform: uppercase;
    cursor: pointer;
    color:black;  
}
.button{

    background-color: rgb(63, 79, 79);
    border-radius: 15px;
    margin: 15px;
    text-align:center;
    
    height:120px;
    
    
}