.container{

    width: 350px;
    min-height: 36vh;
    background-color:  #0f1111;
    display:block;
    margin:200px;
    align-items:flex-start;
    font-size: 25px;
    box-sizing: content-box;
    border: 3px solid blue;
    margin-left: 515px;
    border-radius: 10px;
    border-collapse: separate;
   
    
}
.title{
    align-items:center;
    
    text-align: center;
}
.iniciar{
    align-items:center;
    text-align: center;
    border-radius: 6px;
    background-color: rgb(15, 167, 15);
   margin-top:50px;
    cursor: pointer;
    text-transform: uppercase;   
}
.parar{
    align-items:wrap;
    text-align: 10px;
    border-radius: 6px;
    background-color: yellow;
    text-transform: uppercase;
    cursor: pointer;
   
}
.zerar{
    align-items:wrap;
    text-align: 10px;
    border-radius: 6px;
    background-color: red;
    text-transform: uppercase;
    cursor: pointer;
}
.button{

    background-color: rgb(63, 79, 79);
    border-radius: 15px;
    margin: 10px;
    text-align: center;
    flex: 1;
    height:150px;
    
    
}